@page "/users/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>class= "card-title">Create New Users</h3>
<hr />
<br />
<a href=" /users/create/signin" class="btn btn-secondary">
	Sign in
</a>
<EditForm Model ="@user" OnValidSubmit="CreateUser">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="form-group">
		<label>FirstName: </label>
		<div>
			<InputText @bind-Value="@user.FirstName" class="form-control"/>
			<ValidationMessage For="@(()=>user.FirstName)" />
		</div>
		<label>LastName: </label>
		<div>
			<InputText @bind-Value="@user.LastName" class="form-control" />
			<ValidationMessage For="@(()=>user.LastName)" />
		</div>
		<label>Gender: </label>
		<div>
			<InputText @bind-Value="@user.Gender" class="form-control" />
			<ValidationMessage For="@(()=>user.Gender)" />
		</div>
		<label>Bio: </label>
		<div>
			<InputText @bind-Value="@user.Bio" class="form-control" />
			<ValidationMessage For="@(()=>user.Bio)" />
		</div>
		<label>Nickname: </label>
		<div>
			<InputText @bind-Value="@user.Nickname" class="form-control" />
			<ValidationMessage For="@(()=>user.Nickname)" />
		</div>
		<label>Location: </label>
		<div>
			<InputText @bind-Value="@user.Location" class="form-control" />
			<ValidationMessage For="@(()=>user.Location)" />
		</div>
		<label>Email: </label>
		<div>
			<InputText @bind-Value="@user.Email" class="form-control" />
			<ValidationMessage For="@(()=>user.Email)" />
		</div>
		<label>Password: </label>
		<div>
			<InputText @bind-Value="@user.Password" class="form-control" />
			<ValidationMessage For="@(()=>user.Password)" />
		</div>

	</div>
	<button type = "submit" class="btn btn-success btn-block">
		Create User
	</button>
</EditForm>



@code {
	User user = new User();
	private async Task CreateUser()
	{
		await _client.PostAsJsonAsync(Endpoints.UsersEndpoint, user);
		_navManager.NavigateTo("/users/");
	}
}
